body {
  margin: 0;
  padding: 0;
}
.avatar {
  width: 35px;
  height: 35px;
  background-color: #ccc;
  border-radius: 3px;
}
svg {
  width: 25px; /* 设置图标的宽度 */
  height: 25px; /* 设置图标的高度 */
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
